*{
    margin: 0;
    padding: 0;
}
/*Estilos del buscador de promociones*/

.searchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.searchPromotions, .btnClear {
    display: flex;
    align-self: flex-end;
    border: 0.5px solid #070707;
    border-radius: 5px;
    width: 300px;
}

#searchPr {
    align-self: flex-end;
    flex: 1;
    padding: 0.5rem;
    border: 0.5px black;
    border-radius: 5px;
}

.btnSearch {
    background-image: url('../img/lupa.png');
    background-size: contain;
    background-color: white;
    width:  30px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.btnSearch:hover {
    background-color: #fae18f;
}

.btnClear{
    background-color:rgb(255, 82, 82);
    border: 0.5px solid #ff0000;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    margin-bottom: 30px;
}
.trash{
    width: 15px;
    margin-top:4px;
}

.options, .btnClear{
    display: flex;
    gap: 8px;
    align-self: flex-end;
    padding-top: 10px;
}

.textPr h2{
    padding: 10px;
    margin:auto;
    text-align:center;
    text-transform: uppercase;
}

.textPr p{
    padding: 5px;
}


/*Estilos del contenedor de cards de promociones*/
.promotionsContainer{
    display: flex;
    flex-direction: column;
}

.card{
    border: none;
    overflow: hidden; /* Para asegurar que la imagen no sobresalga */
    background-color: #fff; /* Fondo blanco para la tarjeta */
}

.card img{
    width: 100%;
    height: 250px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que no haya espacios debajo de las imágenes */
}

.titlePr{
    text-transform: uppercase;
    background-color: #fad611;
    color:#000000;
    display: inline-block;
    height: 50px;
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
}

.titlePr p{
    line-height: 50px;
    font-weight: bolder;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}
.cardsContainer img{
    margin: 50px;
    max-width: calc(90% - 10px); /*Se le resta 10px para que no haya espacio entre las imágenes*/
}


/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    .searchPromotions {
        display: flex;
        align-self: center;
    }
    
    #searchPr {
        align-self: center;
        flex: 1;
    }

    .options{
        align-self: center;
    }

    .searchContainer {
        flex-direction: column;
        align-items: center;
      }
        .mapa iframe {
          width: 100%;
          height: 200px;
        }
        
        .contactList {
          padding: 0;
        }
        
        .contactList li {
          list-style: none;
          margin: 10px 0;
        }
      }
      
/* Estilos para dispositivos medianos y grandes */
      @media (min-width: 768px) {
        #otherSectionsMovies {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            align-items: flex-start;        
        }
        
        .mapa, .containerContact {
          flex: 1;
          margin:  10px;
        }
        


        .mapa iframe {
          height: 300px;
        }
      
        .contactList li {
          margin: 15px 0;
        }

        .searchContainer {
          flex-direction: column;
          align-items: center;
        }
      }
      


