*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerMovies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    max-height: 15%;
    width: 100%;  
    z-index: 99999;
    background-color: #e9bc07bb;
    min-height: 5%;
    margin-top: 0px;
     
}

.logoMovies {
    max-width: 25%;
    min-width: 25%;    
}

.menuMovies li{
    display: inline-block;
    padding: 10px;
    
}

ul li {  
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;

}

ul li a {
    text-decoration: none;
    color: black;
}

i {
    padding-left: 10px;
    color: black;
    margin-right: 10px;
}


.menuMobile {
    position: relative;
}

.menu2 {
    display: none; 
    list-style: none;
    
  }
  
  
.menu-toggle {
    cursor: pointer;
    display: none; 
    z-index: 999999;
    
  }

/*barritas del menu pequeño*/
.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(8, 8, 8);
    margin: 5px 0;
    margin-left: 10px;
  }
  
  
.menu2 {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  
.menuMobile:hover .menu2 {
    display: block; 
    margin-top: 10px;
    z-index: 999999999999999999;
    }

#otherSectionsMovies {
    display: flex;
    display: inline-block;
    justify-content: center;
    color: rgb(10, 10, 10);
    padding: 30px;
    font-weight: 700;
    margin-left: 55px;
    background-color: #e9bc07bb;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0;
}

/*Botón entradas*/


@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }

/*Botón entradas*/

#helpMovies {
    position: fixed;
    z-index: 9999999999999;
    height: 50px;
    width: 120px;
    max-height: 50px;
    max-width: 120px;
    bottom: 40px;
    right: 40px; 
    background-color: #e40505;
    border-radius: 10%;
    border: 1px solid;
    box-shadow: 5px;
    transition: background-color 0.5s, font-weight 0.5s;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    font-weight: 700;
}

#helpMovies:hover {
    background-color: #fad611; 
    font-weight: 1000;
}


@media screen and (max-width: 800px) {

    .headerMovies {
        height: 10%;
    
        }
    
    .menuMovies {
        display: none;
        }
    

    .menu-toggle {
        display: block;
    
        }
    
    
    #otherSectionsMovies {
        margin-left: 15px;
        color: rgb(10, 10, 10);
        padding: 10px;
        font-weight: 700;
        margin-left: 55px;
        background-color: #e9bc07bb;
        width: 100%;
        height: 10%;
        margin-top: 0px;
        margin-left: 0;
    }   
    
    }
